env: dev
sentry_dsn: ~

amqp:
  tag: ~
  exchange: amq.topic
  dsn: amqps://client:password@127.0.0.1:5671
  tls: true

postgres:
  dsn: postgres://postgres:postgres@127.0.0.1:5432/postgres

topics:
  - home.#

mapper:
  mappings:
  - topic: ^.*$
    table: <schema_name>.<table_name>
    values:
      time: '%timestamp%'
      value: '%value%'
    validate:
      time: 'required'
      value: 'required,alphanum'
